section {
  margin: auto;
  text-align: left;
  width: 50%;


}


.Event {
  margin: auto;
  text-align: center;
  width: 50%;
  border: 3px solid rgb(5, 126, 15);
  border-radius: 25px;
  padding-bottom: 10px;

  padding: 10px;
  outline-offset: 5px;
}

.sub_event {
  margin: auto;
  height: 90%;
  width: 85%;
  border: 3px solid rgb(5, 126, 15);
  border-radius: 25px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

ul {
  content: center;
}

li {
  text-align: left;
  justify-content: left;

  display: flex;
  }

.Thebutton {
  padding-left: 7px;
}

.horz_event:hover {
  background-color: rgb(54, 209, 15);
  cursor: pointer;
}

.horz_event {
  width: 20px;
  height: 20px;
  background: rgb(146, 243, 127); 
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px; 
  border-radius: 20px;
}