section {
  margin: auto;
  text-align: left;
  width: 100%;


}

.Venue {
  margin: auto;
  text-align: center;
  width: 50%;
  border: 3px solid rgb(0, 110, 255);
  border-radius: 25px;
  padding-bottom: 10px;

  padding: 10px;
  outline-offset: 5px;
}

.sub_venue {
  margin: auto;
  height: 90%;
  width: 85%;
  border: 3px solid rgb(0, 110, 255);
  border-radius: 25px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.row {
  display: 'flex';
}

.horz_row {
  display: inline-block;
}


ul {
  content: center;
}

.spacer {
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.horz_li {
  width: 20px;
  height: 20px;
  background: lightblue; 
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px; 
  border-radius: 20px;
}

.horz_li:hover {
  background-color: rgb(0, 110, 255);
  cursor: pointer;
}

li {
  text-align: left;
  justify-content: left;

  display: flex;
  }

.Thebutton {
  padding-left: 7px;
}
